<div id="header" data-fixed class="mdk-header js-mdk-header mb-0">
    <div class="mdk-header__content">

        <!-- Navbar -->
        <nav id="default-navbar" class="navbar navbar-expand navbar-dark bg-primary m-0">
            <div class="container-fluid">
                <!-- Toggle sidebar -->
                <button class="navbar-toggler d-block" data-toggle="sidebar" type="button">
                    <span class="material-icons">menu</span>
                </button>

                <!-- Brand -->
                <a href="{% url 'dashboard' %}" class="navbar-brand">
                    <img src="/static/assets/images/logo/white.svg" class="mr-2" alt="LearnPlus" />
                    <span class="d-none d-xs-md-block">LearnPlus</span>
                </a>

               
                <div class="flex"></div>

                <!-- Menu -->
                <ul class="nav navbar-nav flex-nowrap d-none d-lg-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'instructor-forum' %} " title="forum">
                            <i class="material-icons">forum</i>
                        </a>
                    </li>
                </ul>

                <!-- Menu -->
                <ul class="nav navbar-nav flex-nowrap">

                    <li class="nav-item d-none d-md-flex">
                        <a href="{% url 'instructor-messages'  user.instructor.classe %}" title="Chat" class="nav-link">
                            <i class="material-icons">chat</i>
                        </a>
                    </li>
                    <!-- User dropdown -->
                    <li class="nav-item dropdown ml-1 ml-md-3">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"><img
                                src="{{user.instructor.photo.url}}" alt="Avatar" class="rounded-circle"
                                width="40"></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'instructor-account-edit' %}">
                                <i class="material-icons">edit</i> Edit Account
                            </a>
                            <a class="dropdown-item" href="{% url 'instructor-profile' %}">
                                <i class="material-icons">person</i> Public Profile
                            </a>
                            <a class="dropdown-item" href="{% url 'deconnexion' %}">
                                <i class="material-icons">lock</i> Logout
                            </a>
                        </div>
                    </li>
                    <!-- // END User dropdown -->
                </ul>
            </div>
        </nav>
        <!-- // END Navbar -->

    </div>
</div>