<div class="mdk-drawer js-mdk-drawer" id="default-drawer">
    <div class="mdk-drawer__content ">
        <div class="sidebar sidebar-left sidebar-dark bg-dark o-hidden" data-perfect-scrollbar>
            <div class="sidebar-p-y">
                <div class="sidebar-heading">APPLICATIONS</div>
                <ul class="sidebar-menu sm-active-button-bg"> 
                    <li class="sidebar-menu-item active">
                        <a class="sidebar-menu-button" href="{% url 'dashboard' %}">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">school</i> Instructor
                        </a>
                    </li>
                </ul>
                <!-- Account menu -->
                <div class="sidebar-heading">Account</div>
                <ul class="sidebar-menu">
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button sidebar-js-collapse" data-toggle="collapse" href="#account_menu">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">person_outline</i>
                            Account
                            <span class="ml-auto sidebar-menu-toggle-icon"></span>
                        </a>
                        <ul class="sidebar-submenu sm-indent collapse" id="account_menu">
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button" href="{% url 'instructor-account-edit' %}">
                                    <span class="sidebar-menu-text">Edit Account</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"  href="{% url 'instructor-messages'  user.instructor.classe %}">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">comment</i> Messages
                        </a>
                    </li>
                </ul>
                <div class="sidebar-heading">Instructor</div>
                <ul class="sidebar-menu sm-active-button-bg">
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="{% url 'instructor-courses' %}">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">import_contacts</i>
                            Course Manager
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="{% url 'instructor-quizzes' %}">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">help</i> Quiz Manager
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" data-toggle="collapse" href="#forum_menu">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">chat_bubble_outline</i>
                            Community
                            <span class="ml-auto sidebar-menu-toggle-icon"></span>
                        </a>
                        <ul class="sidebar-submenu sm-indent collapse" id="forum_menu">
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button" href="{% url 'instructor-forum' %}">
                                    <span class="sidebar-menu-text">Forum</span>
                                </a> 
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button" href="{% url 'instructor-forum-ask' %}">
                                    <span class="sidebar-menu-text">Ask Question</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="{% url 'deconnexion' %}">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">lock_open</i> Logout
                        </a>
                    </li>
                </ul>
                
            </div> 
        </div>
    </div>
</div>