{% extends 'bases/student_header.html'%}
{% block content %}

            <div class="page" id="profil">

                <div class="container page__container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index_student' %}">Home</a></li>
                        <li class="breadcrumb-item active">Edit Account</li>
                    </ol>
                    <h1 class="h2">Edit Account</h1>
                    <div v-if="isSuccess" class="alert alert-success" role="alert">
                        ${ message }
                    </div>
                    <div v-if="error" class="alert alert-danger" role="alert">
                        ${ message }
                    </div>

                    <div class="card">
                        <ul class="nav nav-tabs nav-tabs-card">
                            <li class="nav-item">
                                <a class="nav-link active" href="#first" data-toggle="tab">Basics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#second" data-toggle="tab">Sécurité</a>
                            </li>
                        </ul>
                        <div class="tab-content card-body">
                            <div class="tab-pane active" id="first">
                                <form action="#" class="form-horizontal"> 
                                    <div class="form-group row">
                                        <label for="avatar" class="col-sm-3 col-form-label form-label">Avatar</label>
                                        <div class="col-sm-9">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <div class="icon-block rounded">
                                                        <img src="{{user.student_user.photo.url}}" alt="Avatar" width="80">
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="custom-file" style="width: auto;">
                                                        <input  class="custom-file-input" ref="file" type="file" accept="image/*" v-on:change="handleImageUploaded">
                                                        <label for="avatar" class="custom-file-label">Choisissez votre photo</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-3 col-form-label form-label">Nom complet</label>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input id="name" type="text" class="form-control" placeholder="{{user.last_name}}" v-model="nom">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" placeholder="{{user.first_name}}" v-model="prenom">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email" class="col-sm-3 col-form-label form-label">Email</label>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="material-icons md-18 text-muted">mail</i>
                                                    </div>
                                                </div>
                                                <input type="text" id="email" class="form-control" placeholder="Email Address" value="{{user.email}}" disabled v-model="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="website" class="col-sm-3 col-form-label form-label">Bio</label>
                                        <div class="col-sm-8 col-md-8">
                                            <div class="input-group">
                                                <textarea type="text" class="form-control" placeholder="Votre bio" v-model="bio"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <div class="col-sm-8 offset-sm-3">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <a href="#" class="btn btn-success" v-if="!isregister" v-on:click.prevent="profil">Mettre à jour</a>
                                                    <a href="#" class="btn btn-success" v-if="isregister" disabled >Mettre à jour</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="second">
                                <form action="#" class="form-horizontal">
                                    <div class="form-group row">
                                        <label for="password" class="col-sm-3 col-form-label form-label">Ancien mot de passe</label>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="material-icons md-18 text-muted">lock</i>
                                                    </div>
                                                </div>
                                                <input type="password" v-model="last_password" class="form-control" placeholder="Ancien mot de passe">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="password" class="col-sm-3 col-form-label form-label">Nouveau mot de passe</label>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="material-icons md-18 text-muted">lock</i>
                                                    </div>
                                                </div>
                                                <input type="password" v-model="new_password" class="form-control" placeholder="Entrez votre nouveau mot de passe">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="password" class="col-sm-3 col-form-label form-label">Confirmation</label>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="material-icons md-18 text-muted">lock</i>
                                                    </div>
                                                </div>
                                                <input type="password" v-model="confirm_password" class="form-control" placeholder="Confirmez votre mot de passe">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-4 offset-sm-3">
                                            <a href="#" class="btn btn-success" v-if="!isregister" v-on:click.prevent="change_password">Changer Mon mot de passe</a>
                                            <button href="#" class="btn btn-success" v-if="isregister" disabled>Changer Mon mot de passe</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container page__container">
                    <div class="footer">
                        Copyright &copy; 2016 - <a href="http://themeforest.net/item/learnplus-learning-management-application/15287372?ref=mosaicpro">Purchase LearnPlus</a>
                    </div>
                </div>
            </div>

    {% endblock content %}

            {% block script %}
    <script src="/static/assets/js/axios.js"></script>
    
    <!-- vue -->
    <script src="/static/assets/js/vue.js"></script> 
    <script>
        // Block Vue JS  
        new Vue({
        el: '#profil',
        data: {
            nom: '{{user.last_name}}',
            prenom: '{{user.first_name}}',
            file : '{{ user.student_user.photo.url }}',
            email:'{{user.email}}',
            bio : '{{ user.student_user.bio }}',
            last_password: '',
            new_password: '',
            confirm_password: '',
           isregister: false,
           loader: false,
           isSuccess: false,
           error: false,
           base_url: window.location.protocol + "//" + window.location.host + "/",
        },
        delimiters: ["${", "}"],
        mounted() { },
        methods: {
            profil: function () {
               if (!this.isregister) {
                   this.error = false
                   this.isSuccess = false
                   this.isregister = true
                   if (this.nom == "{{user.last_name}}" && this.prenom == "{{user.first_name}}" && this.email == "{{user.email}}" && this.bio == "{{ user.student_user.bio }}" && this.file == "{{user.student_user.photo.url}}" ) {
                       this.message = "aucune modification";
                       this.error = true
                       this.isSuccess = false
                       this.isregister = false;
                   } else {
                    //    permet d'imploder des fichiers
                       let formData = new FormData();
                       formData.append('nom', this.nom);
                       formData.append('prenom', this.prenom);
                       formData.append('file', this.file);
                       formData.append('email', this.email);
                       formData.append('bio', this.bio);
                       axios.defaults.xsrfCookieName = 'csrftoken'
                       axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                       axios.post(this.base_url + 'student/update_profil',
                           formData,
                           {
                               headers: {
                                   'Content-Type': 'multipart/form-data',
                               }
                           }).then(response => {
                           console.log(response)
                           this.isregister = false;
                           if (response.data.success) {
                               this.isSuccess = true
                               this.error = false
                               this.message = response.data.message
                               this.success = response.data.success
                           } else {
                               this.error = true
                               this.message = response.data.message
                               this.success = response.data.success
                               this.isSuccess = false
                           }
                           console.log("success variable" + this.isSuccess)
                           // console.log("success variable"+this.error)
                       })
                           .catch((err) => {
                               this.isregister = false;
                               console.log(err);
                           })
                   }
               }
           },
            change_password: function () {
               if (!this.isregister) {
                   this.error = false
                   this.isSuccess = false
                   this.isregister = true
                   if (this.last_password == "" || this.new_password == "" || this.confirm_password == "") {
                       this.message = "Veuillez remplir correctement les champs";
                       this.error = true;
                       this.isSuccess = false;
                       this.isregister = false;
                   } else {
                    //    permet d'imploder des fichiers
                       let formData = new FormData();
                       formData.append('last_password', this.last_password);
                       formData.append('confirm_password', this.confirm_password);
                       formData.append('new_password', this.new_password);
                       axios.defaults.xsrfCookieName = 'csrftoken'
                       axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                       axios.post(this.base_url + 'student/update_password',
                           formData,
                           {
                               headers: {
                                   'Content-Type': 'multipart/form-data',
                               }
                           }).then(response => {
                           console.log(response)
                           this.isregister = false;
                           if (response.data.success) {
                               this.isSuccess = true
                               this.error = false
                               this.message = response.data.message
                               this.success = response.data.success
                               this.new_password = ""
                               this.confirm_password = ""
                               this.last_password = ""
                           } else {
                               this.error = true
                               this.message = response.data.message
                               this.success = response.data.success
                               this.isSuccess = false
                           }
                           console.log("success variable" + this.isSuccess)
                           // console.log("success variable"+this.error)
                       })
                           .catch((err) => {
                               this.isregister = false;
                               console.log(err);
                           })
                   }
               }
           },
           handleImageUploaded() {
                this.file = this.$refs.file.files[0];
                console.log(this.file)
            },
        }
        });
        </script>
        
            <!-- Required by Calendar (fullcalendar) -->
            <script src="/static/assets/vendor/dropzone.min.js"></script>
            <script src="/static/assets/vendor/jquery.fancytree-all.min.js"></script>
            
            <!-- Init -->
            <script src="/static/assets/js/fancytree.js"></script>
    
            
        {% endblock script %}
            